<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input
    type="text"
    name="user[username]"
    id="username"
    value="<%= @user.username %>">

  <label for="Password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="Password"
  >

  <input type="submit" value="Sign up!">
</form>
